main img {
  width: 286px;
  height: 286px;
  object-fit: cover;
}
main {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-block: 24px;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
